<mat-card class="card" *ngIf="me() as m">
    <h2>Profile</h2>

    <mat-list>
        <mat-list-item><strong>Username:</strong>&nbsp; {{ m.username }}</mat-list-item>
        <mat-list-item *ngIf="m.fullName"><strong>Name:</strong>&nbsp; {{ m.fullName }}</mat-list-item>
        <mat-list-item *ngIf="m.email"><strong>Email:</strong>&nbsp; {{ m.email }}</mat-list-item>
        <mat-list-item><strong>Roles:</strong>&nbsp; {{ m.roles.join(', ') }}</mat-list-item>
        <mat-list-item>
            <strong>Penalty Points:</strong>&nbsp;
            <mat-chip-set>
                <mat-chip [disabled]="true" color="warn" [highlighted]="true">
                    {{ (penalty() ?? m.penalties ?? 0) }} / 5
                </mat-chip>
            </mat-chip-set>
        </mat-list-item>
    </mat-list>

    <div class="actions">
        <button mat-raised-button color="primary" (click)="goChangePassword()">Change password</button>
    </div>
</mat-card>